
<div class="owl-carousel header-carousel position-relative">
    <div class="owl-carousel-item position-relative">
        <img class="img-fluid" src="~/Assets/Client/JobsFinder/img/Search.png" alt="">
        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-10 col-lg-8">
                        <h1 class="display-3 text-white animated slideInDown mb-4 title">Tìm một công việc phù hợp với sở thích và kỹ năng của bạn.</h1>
                        <p class="fs-5 fw-medium text-white mb-4 pb-2 caption">Tìm việc mơ ước dễ dàng - duyệt hàng nghìn việc làm và nộp đơn ngay hôm nay trên nền tảng tìm kiếm việc làm của chúng tôi.</p>
                        @using (Html.BeginForm("Index", "Company", FormMethod.Get, new { @class = "form-search" }))
                        {
                            <div class="box-input" style="border: none;">
                                <i class="bi bi-search m-0"></i>
                                <input type="text" placeholder="Tìm kiếm ..." aria-label="Search" aria-describedby="basic-addon2" name="searchName" value="@ViewBag.SearchName">
                            </div>
                            <div class="box-input" style="border: none;">
                                <i class="bi bi-geo-alt m-0"></i>
                                <select name="searchLocation">
                                    @foreach (var city in ViewBag.CityList)
                                    {
                                        <option value="@city.Value">@city.Text</option>
                                    }
                                </select>

                            </div>
                            <button class="btn btn-primary searchBtn" type="submit">Tìm kiếm</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>