<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0">
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Trang chủ</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider">
    </li>

    <!-- Heading -->
    <li class="sidebar-heading">
        Quản lý
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Job/Index" data-toggle="collapse" data-target="#collapseJob"
           aria-expanded="true" aria-controls="collapseJob">
            <i class="fas fa-fw fa-briefcase"></i>
            <span>Công việc</span>
        </a>
        <div id="collapseJob" class="collapse" aria-labelledby="headingJob" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">QL toàn bộ công việc</h6>
                <a class="collapse-item" href="/Admin/JobCategory/Index">Danh mục công việc</a>
                <a class="collapse-item" href="/Admin/Career/Index">Ngành nghề</a>
                <a class="collapse-item" href="/Admin/Job/Index">Công việc</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Blog/Index" data-toggle="collapse" data-target="#collapseBlog"
           aria-expanded="true" aria-controls="collapseBlog">
            <i class="fas fa-fw fa-book-open"></i>
            <span>Blog</span>
        </a>
        <div id="collapseBlog" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý Blog</h6>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">Danh mục Blog</a>
                <a class="collapse-item" href="/Admin/Blog/Index">Blog</a>
                <a class="collapse-item" href="/Admin/BlogTag/Index">Blog tag</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Company/Index" data-toggle="collapse" data-target="#collapseCompany"
           aria-expanded="true" aria-controls="collapseCompany">
            <i class="fas fa-fw fa-building"></i>
            <span>Công ty</span>
        </a>
        <div id="collapseCompany" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý công ty</h6>
                <a class="collapse-item" href="/Admin/Company/Index">Công ty</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/User/Index" data-toggle="collapse" data-target="#collapseUser"
           aria-expanded="true" aria-controls="collapseUser">
            <i class="fas fa-fw fa-users"></i>
            <span>Người dùng</span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Quản lý người dùng</h6>
                <a class="collapse-item" href="/Admin/User/Index">Người dùng</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Job/Index" data-toggle="collapse" data-target="#collapseAbout"
           aria-expanded="true" aria-controls="collapseAbout">
            <i class="fas fa-fw fa-cog"></i>
            <span>Custom</span>
        </a>
        <div id="collapseAbout" class="collapse" aria-labelledby="headingBlog" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom</h6>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">About</a>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">About Category</a>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">Menu</a>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">Menu Type</a>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">Slide</a>
                <a class="collapse-item" href="/Admin/BlogCategory/Index">Footer</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider">
    </li>

    <!-- Heading -->
    <li class="sidebar-heading">
        Addons
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item active" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-mail-bulk"></i>
            <span>Feedback</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-laptop-code"></i>
            <span>System config</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider d-none d-md-block">
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>

</ul>
<!-- End of Sidebar -->